/.idea
/1_build_aduio_vector.ipynb
/2_extract_audio_features.ipynb
/hengming
/hengming_fft
/hengming_fft_no01
/hengming_land
/hengming_land_fft
/hengming_mfcc
/hengming_mfcc.pkl
/hengming_test
/mfcc_data.pkl
/showpicture.py
/tempCodeRunnerFile.py
/test.py
/test_item.pkl
/total_data.csv
/train_item.pkl
/tuqi
/tuqi_fft
/tuqi_fft_no01
/tuqi_land
/tuqi_land_fft
/tuqi_mfcc
/tuqi_mfcc.pkl
/xiqi
/xiqi_fft
/xiqi_fft_no01
/xiqi_land
/xiqi_land_fft
/xiqi_mfcc.pkl
/X_train.csv
/__pycache__